.Instinct {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.talents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.talent {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.talent:hover {
  transform: scale(1.05);
}

.talent img {
  max-width: 100%;
  border-radius: 10px;
}

.talent h2 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #ecdddd;
}

.talent button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.talent button:hover {
  background-color: #0056b3;
}

.talent-info {
  text-align: center;
}

.talent-info img {
  max-width: 100%;
  border-radius: 10px;
}

.talent-info h2 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #eadada;
}

.talent-info p {
  font-size: 1.2em;
  color: #f0dfdf;
}

.talent-info button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.talent-info button:hover {
  background-color: #0056b3;
}

.menu-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
}

.menu-button:hover {
  background-color: #0056b3;
}

.Instinct h1 {
  font-size: 2em;
  color: #c5ec68;
  margin-bottom: 20px;
  
}
