.SearchResults {
    text-align: center;
    padding: 20px;
    background-color: #121212; /* Темный фон */
    color: #ffffff; /* Белый текст */
  }
  
  .talents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px; /* Промежуток между контейнерами */
    justify-content: center;
  }
  
  .talent {
    text-align: center;
    background-color: #1e1e1e; /* Цвет контейнера */
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box; /* Учитываем padding и border в ширине и высоте */
  }
  
  .talent img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .talent h2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #ffffff;
  }
  
  .talent p {
    margin-top: 10px;
    font-size: 1em;
    color: #cccccc;
  }
  
  .menu-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  @media (max-width: 600px) {
    .talents {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  
    .talent {
      width: 100%;
    }
  
    .talent img {
      width: 100px;
      height: 100px;
    }
  }
  